body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000626;
}

.container {
    text-align: center;
    padding: 20px;
    color: white;
    width: 80%;
    max-width: 800px;
}

.center-logo {
    margin-top: 0px;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 250px;
}

.text {
    font-size: 20px;
}

.text hr {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #FFF;
}

.policy {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: white;
}