body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000626;
}

.container {
    text-align: center;
    padding: 10px;
    color: white;
    width: 80%;
    max-width: 800px;
}

.company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company-name {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.company-logo {
    padding: 0px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.google-play-badge {
    display: block;
    margin: 60px auto;
}

.google-play-badge img {
    width: 100%;
    height: auto;
    display: block;
}

.policy {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: white;
}

/* CSS Styles for Carousel - Start */
.carousel-container {
    margin-top: 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    width: 100%; /* Set to 100% to accommodate one slide */
    transition: transform 2s ease; /* Adjust the duration and timing function as needed */
}

.carousel-item {
    width: 100%;
    flex: 0 0 auto; /* Ensure equal width for all items */
}

.carousel-item img {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.app-name {
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.carousel-item.active {
    flex: 0 0 auto; /* Ensure equal width for the active item */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Adjust the color as needed */
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
/* CSS Styles for Carousel - End */

/* CSS Styles for Responsive Design - Start */
@media screen and (max-width: 600px) {
    /* Styles for screens 600px and smaller */
    .carousel-item img {
        width: 80%; /* Adjusted image size for smaller screens */
    }

    .text {
        font-size: 16px; /* Adjusted font size for smaller screens */
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 16px; /* Adjusted font size for smaller screens */
    }
}

@media screen and (min-width: 768px) {
    /* Additional styles for tablets and larger screens */
    .carousel {
        max-width: 800px;
    }
}
/* CSS Styles for Responsive Design - End */